<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Farmacia</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <h2>Acerca de la farmacia</h2> 
        <p> 
        🏥 Farmacia Vida Sana
Descripción general:
Farmacia Vida Sana es una empresa dedicada a la venta de medicamentos, productos de cuidado personal y artículos de salud. Su objetivo principal es brindar acceso rápido y confiable a productos farmacéuticos de calidad, con atención profesional y asesoría personalizada.<br>

🧾 Servicios ofrecidos:
✅ Venta de medicamentos con y sin receta.<br>

✅ Asesoría farmacéutica por profesionales capacitados.<br>

✅ Toma de presión y control de glicemia.<br>

✅ Servicio de entrega a domicilio<br>

✅ Recargas de recetas crónicas.<br>

✅ Venta de productos de cuidado personal, vitaminas y suplementos.
<br>
    </p>
        
        
        <p>Algunos de nuestros productos estrellas</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bbmBliUH1iQ?si=NBx3M-DkHJrajOkq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>
 